:root {
  --background_color: #171717;
  --accent_color: #BA1717;
  --subtle_accent_color: #353535;
  --border_color: #909090;
}

body {
  margin: 0;
  background-color: var(--background_color);
  color: white;
  font-size: large;
}

body > div {
  width: 100%;
  height: 100%;
}

input {
  background-color: var(--background_color);
  color: white;
  outline: none;
  line-height: 2rem;
  font-size: 1.5rem;
}

h1 {
  margin-bottom: 1rem;
}

button {
  cursor: pointer;
  display: inline-block;
  color: white;
  background-color: var(--accent_color);
  border-width: 0;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  font-size: large;
  vertical-align: middle;
}
