:root {
  --background_color: #171717;
  --el_background_color: #A0A0A0;
  --accent_color: #BA1717;
  --subtle_accent_color: #353535;
  --highlight_color: #380707;
  --border_color: #909090;
  --border_width: 0.1rem;
  --border_radius: 0.5rem;
  --text_color: white;
}

body {
  margin: 0;
  background-color: var(--background_color);
  color: var(--text_color);
  font-size: large;
  min-height: 100vh;
}

input {
  background-color: var(--background_color);
  color: var(--text_color);
  outline: none;
  line-height: 2rem;
  font-size: 1.5rem;
}

h1 {
  margin-bottom: 1rem;
}

button {
  cursor: pointer;
  display: inline-block;
  color: var(--text_color);
  background-color: var(--accent_color);
  border-width: 0;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  font-size: large;
  vertical-align: middle;
}

pre.inline_output {
  display: inline;
}

fieldset {
  border-radius: var(--border_radius);
  border-width: var(--border_width);
  border-color: var(--border_color);

  --fieldset_horizontal_padding: 1rem;
  --fieldset_top_padding: 1rem;
  --fieldset_bottom_padding: 1rem;
  padding-top: var(--fieldset_top_padding);
  padding-bottom: var(--fieldset_bottom_padding);
  padding-right: var(--fieldset_horizontal_padding);
  padding-left: var(--fieldset_horizontal_padding);

  --fieldset_border_width: 0.1rem;
  border-width: var(--fieldset_border_width);

  --fieldset_legend_height: 1rem;
}

/**
 * This is pretty hacky. We need to know the height of the legend in order to compute the spinner
 * overlay offset that we want for a busy spinner in a fieldset. But I don't think we can just know
 * it in CSS, so we'll just set it instead.
 */
fieldset > legend {
  height: var(--fieldset_legend_height);
  /* Position the legend over the busy spinner overlay */
  position: relative;
  z-index: 1;
}
