#under_popup_overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  align-items: center;
  justify-content: center;
  z-index: 2;
}

#under_popup_overlay.popup_visible {
  display: flex;
}

#popup {
  --popup_border_width: 0.1rem;
  --popup_padding: 2rem;

  background-color: var(--background_color);
  opacity: 1;
  border-style: solid;
  border-width: var(--popup_border_width);
  border-color: var(--border_color);
  border-radius: 3rem;
  padding: var(--popup_padding);
  width: 45rem;
  max-width: 100%;
}

#popup h1 {
  margin-top: 0;
}

#popup textarea {
  --padding_size: 0.2rem;
  --border_width: 0.15rem;

  resize: none;
  height: 10rem;
  width: calc(100% - (2 * var(--border_width)) - (2 * var(--padding_size)));
  border-width: var(--border_width);
  padding: var(--padding_size);
  margin-bottom: 1rem;
}

.popup_button_box {
  display: flex;
  flex-direction: row;
}

.popup_button_box button {
  flex: 0;
}

.popup_button_box_spacer {
  flex: 1;
}

#popup.max_size {
  height: calc(100vh - (2 * var(--popup_border_width)) - (2 * var(--popup_padding)) - 1rem);
  width: calc(100vw - (2 * var(--popup_border_width)) - (2 * var(--popup_padding)) - 1rem);
}
