.star_chart {
  margin: 0;
  border-width: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  container-type: size;
  container-name: subspinner-overlay-resize-box;
}

/**
 * These are used to group elements and ensure that they stay in the correct stacking order. They
 * are intentionally size 0 so that they don't cover up lower elements and preventing `:hover`
 * selectors from working properly. Since they aren't positioned elements and everything in them
 * uses `position: absolute`, their size and position doesn't affect the size and position of their
 * child elements.
 */
.star_chart .layer {
  border-width: 0;
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
}

.star_chart .location {
  position: absolute;
}

.star_chart .location.clickable {
  cursor: pointer;
}

.star_chart .location .icon {
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  border-radius: 50%;
  border-style: solid;
  border-color: transparent;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
}

.star_chart .location.orbited .icon {
  border-color: white;
}

.star_chart .location:hover .icon {
  filter: contrast(0);
}

.star_chart .overflow_indicator {
  --star_chart_overflow_indicator_size: 0.5rem;
  --star_chart_overflow_indicator_spacing: 0.5rem;
  --star_chart_overflow_indicator_color: #B0B0B0;

  position: absolute;

  /*
   * These are going to use the CSS triangle trick of having a 0 sized object with a single visible
   * border.
   */
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: var(--star_chart_overflow_indicator_size);
}

.star_chart .overflow_indicator.top {
  top: var(--star_chart_overflow_indicator_spacing);
  left: calc(50% - var(--star_chart_overflow_indicator_size));

  border-top-width: 0;
  border-bottom-color: var(--star_chart_overflow_indicator_color);
}

.star_chart .overflow_indicator.bottom {
  bottom: var(--star_chart_overflow_indicator_spacing);
  left: calc(50% - var(--star_chart_overflow_indicator_size));

  border-bottom-width: 0;
  border-top-color: var(--star_chart_overflow_indicator_color);
}

.star_chart .overflow_indicator.left {
  left: var(--star_chart_overflow_indicator_spacing);
  top: calc(50% - var(--star_chart_overflow_indicator_size));

  border-left-width: 0;
  border-right-color: var(--star_chart_overflow_indicator_color);
}

.star_chart .overflow_indicator.right {
  right: var(--star_chart_overflow_indicator_spacing);
  top: calc(50% - var(--star_chart_overflow_indicator_size));

  border-right-width: 0;
  border-left-color: var(--star_chart_overflow_indicator_color);
}

.star_chart .tooltip {
  display: none;

  cursor: auto;

  padding: 0;
  margin: 0;
  background-color: black;
  border-radius: var(--border_radius);
  border-style: solid;
  border-color: var(--border_color);
  border-width: var(--border_width);

  box-sizing: border-box;
  position: absolute;

  z-index: 1;
}

.star_chart .location:hover .tooltip {
  display: block;
}

.star_chart .tooltip .data_list {
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-radius: 0;
}

.star_chart .tooltip ul,
.star_chart .tooltip .list_container {
  width: 100%;
}

.star_chart .tooltip > h1,
.star_chart .tooltip > h2 {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

.star_chart .tooltip > h1 {
  margin-left: 1rem;
}

.star_chart .tooltip > h2 {
  margin-left: 1.5rem;
}

.star_chart .tooltip li {
  display: block;
}

.star_chart .tooltip h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.star_chart .tooltip .trait_description {
  margin-top: 1rem;
  margin-bottom: 0;
  display: none;
}

.star_chart .tooltip li.expanded .trait_description {
  display: block;
}

.star_chart .back_button_background {
  border-radius: var(--border_radius);
  border-width: 0;
  background-color: var(--subtle_accent_color);
  cursor: pointer;

  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 2rem;
  height: 2rem;
}

.star_chart .back_button_image {
  cursor: pointer;

  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
  width: 1.5rem;
  height: 1.5rem;
}
