:root {
  --top_bar_height: 5rem;
  --top_bar_margin_top: 0rem;
  --top_bar_margin_bottom: 0rem;
}

#top_bar {
  flex: 0 var(--top_bar_height);
  height: var(--top_bar_height);
  background-color: var(--accent_color);
  padding: 0.4rem;
  margin-top: var(--top_bar_margin_top);
  margin-bottom: var(--top_bar_margin_bottom);

  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

#navigation_container {
  width: 100%;
  max-width: 30rem;
  height: 100%;
  border-width: 0;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

#navigation_container .spacer {
  flex: 1;
}

#navigation_container .nav_icon {
  flex: 0;
  height: 100%;
  cursor: pointer;
  position: relative;
}

#navigation_container img {
  height: 100%;
  border-radius: 0.5rem;
}

#navigation_container .nav_icon.disabled {
  cursor: default;
}

#navigation_container .nav_icon.disabled img {
  filter: contrast(30%);
}
